<a href="https://colab.research.google.com/github/jmisrikhanov/Assignment/blob/main/python_first_programme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text = ("Clarusway", "Clarusway", "Clarusway")
print(text)
print('\t', text)
print('\t', '\t', text)

('Clarusway', 'Clarusway', 'Clarusway')
	 ('Clarusway', 'Clarusway', 'Clarusway')
	 	 ('Clarusway', 'Clarusway', 'Clarusway')

In [8]:
answer = 'Javid'

question = 'What is your name?  '
print ("Let's find the password!")

while True:
    guess = str(input(question))

    if guess == answer:
        print("Hello, Joseph! The password is : W@12")
    else: 
        print("Hello, Amina! See you later.")
    break

Let's find the password!
What is your name?  d
Hello, Amina! See you later.

In [ ]:
0.1 + 0.1

0.2

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0
while count1 > 0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [ ]:
In [4]: import math  

In [5]: math.log(1)

0.0

In [ ]:

if number >= 10:
    print('The number is equal or greater than 10')
elif number < 10:
    print('The number is less than 10')

The number is less than 10

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

# New Section

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'} : 
    print(i)

n1
n2

In [ ]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [ ]:
print('''it's not a problem using "triple" quotes''')

it's not a problem using "triple" quotes

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
most_common = max(numbers, key = numbers.count)
frqnt_num_list = []
for i in numbers:
    if i == most_common:
        frqnt_num_list.append(i)
text = "The most frequent number is {0} and it is repeated {1} times.".format(most_common, frqnt_num_list.count(i))
print (text)

The most frequent number is 3 and it is repeated 4 times.

In [ ]:
banana_price = 2
banana_price = 5
print(2*5)

10

In [ ]:
my_list = ['Joseph', 'Clarusway', 2020]
new_list1 = list(my_list)
new_list2 = [my_list]

print(new_list1)
print(len(new_list1))
print(new_list2)
print(len(new_list2))

['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1

In [ ]:

a = list(range(11))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
word = "hello"
w = [word]
w = list(word)
w = [1, 2, 3, "another"]
print(w)
print(w)
print(w)

[1, 2, 3, 'another']
[1, 2, 3, 'another']
[1, 2, 3, 'another']

In [ ]:
text = "ijfoadsjgoasnas"
print(text.strip("tna"))

ijfoadsjgoasnas

In [ ]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
year = int(input("Enter a year: "))
 if (year%4==0 and year%100!=0 or year%400==0):
 print("TRUE")
else:
print("FALSE")

IndentationError: ignored

In [ ]:
print(not 0 and 'write me')

write me

In [ ]:
print(False or {})

{}

In [ ]:
str1 = "JhonDipPeta"
print(str1.strip("JhonaPeta"))

Dip

In [ ]:
str2 = "JaSonAy"
print(str2.strip('JaAy'))

Son

In [ ]:

str="......Macroeconomics,...........Derivatives"
#Type your code here.

lst = str.split(",")
ans_1 = lst[0].lstrip(".")

print(ans_1)

Macroeconomics

In [ ]:
suntime = 'Aruba | Keys | Miami | Myrtle | Daytona'
print(suntime.split('|', maxsplit=1))

['Aruba ', ' Keys | Miami | Myrtle | Daytona']

In [ ]:
string = "  Geeks for Geeks   "
print(len(Count(string)))

NameError: ignored

In [ ]:
source_string = "interoperability"
print(source_string.strip("yi"))

nteroperabilit

In [ ]:
warning = 'You must quit smoking!'

print(list(warning))

['Y', 'o', 'u', ' ', 'm', 'u', 's', 't', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g', '!']

In [ ]:
warning = 'You must quit smoking!'

print(warning.replace("i", "+"))

You must qu+t smok+ng!

In [ ]:
text = 'In God wee trust'
text ="in god we" 
print(text, "trust")

in god we trust

In [ ]:
sample = f"{2 ** 3}"
print(sample)

8

In [ ]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [ ]:
text = "{0}! I am a {1} programmer and I {2} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [ ]:
word = 'clarusway'
n = 3
front = 'clareew'
back = 'rusway'
print(front + back)

clareewrusway

In [ ]:
PV = 1000  # Present  Value
r = 7  # interest rate
n = 7  # number of periods

FV = round(PV*(1+r/100)**n, 2)  # Future Value
print(FV)

1605.78

In [ ]:
# format() metodunu görmemiş olabilirler. Eğer öyleyse, bu metodu kullanmadan çıktı aldıralım.

a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))  # Once int koymadan hepsini yaz ve o şekilde olmadığını göster

output = a * b * c

print("{}*{}*{} = {}".format(a, b, c, output))
print(f"{a}*{b}*{c} = {output}")

a:1
b:2
c:3
1*2*3 = 6
1*2*3 = 6

In [ ]:
d = 100 #  distance in km
t = 2 # time in hours
s = d/t #speed in km/h
print(s)

50.0

In [ ]:

x, y = 4, 3
result = x * x - y * y
print("({} ^ 2 - {} ^ 2) = {}".format(x, y, result))

(4 ^ 2 - 3 ^ 2) = 7

In [ ]:
t = 200  # total amount
p = 11  # price of a material
pieces = t // p
output = t % p
print(pieces)
print (output)

18
2

In [ ]:
totalMoney = 200
materialPrice = 11
piece = 200 // 11
remainingMoney = totalMoney % piece
print("With your ${}, {} pieces of material you can get for ${} each.  The remaining money is ${}".format(totalMoney, piece, materialPrice, remainingMoney))

With your $200, 18 pieces of material you can get for $11 each.  The remaining money is $2

In [ ]:
a = input(a)
b = input(b)
print(a,b)
a, b = b,a
print(a,b)

21
22
1 2
2 1

In [ ]:
x = 3
y = 4
output = (x-y)*(x+y)
print(output)

-7

In [ ]:

a = 2
b = 5

print("Variables Before Replacing\na= {} b= {}".format(a, b))

a, b = b, a

print("Variables After Replacing\na= {} b= {}".format(a, b))

Variables Before Replacing
a= 2 b= 5
Variables After Replacing
a= 5 b= 2

In [ ]:
# format() metodunu görmemiş olabilirler. Eğer öyleyse, bu metodu kullanmadan çıktı aldıralım.

x, y = 4, 3
result = x * x - y * y
print("({} ^ 2 - {} ^ 2) = {}".format(x, y, result))

(4 ^ 2 - 3 ^ 2) = 7

In [ ]:
print(3*'ali/', 'ali', sep = "")

ali/ali/ali/ali

In [ ]:
word = input()
seperator = input()
repetitions = int(input())
a = (word + seperator) * (repetitions -1) + word # henry/ * 2 = henry/henry/henry
print(a)
# print(*list([word] * repetitions), sep=seperator)

asdf
/
4
asdf/asdf/asdf/asdf

In [ ]:
# format() metodunu görmemiş olabilirler. Eğer öyleyse, bu metodu kullanmadan çıktı aldıralım.

a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))  # Once int koymadan hepsini yaz ve o şekilde olmadığını göster

output = a * b * c

print("{}*{}*{} = {}".format(a, b, c, output))
print(f"{a}*{b}*{c} = {output}"

SyntaxError: ignored

In [ ]:
a = int(input("a:")) 
b =int(input("b:"))
c= int(input("c:"))
print(a*b*c)

a:1
b:

ValueError: ignored

In [ ]:
print("xyyzxyzxzxyy".count('xyy', 2, 11))

0

In [ ]:
print(3*4*5)

60

In [ ]:
Height = 1.65
Weight = 60
print(Weight/Height**2)

22.03856749311295

In [ ]:
height = float(input("Enter your height:"))
weight = int(input("Enter your weight:"))
print(weight/(height*height))

Enter your height:1.76
Enter your weight:64
20.66115702479339

In [ ]:

print(200//11)

18

In [ ]:
print(200 % 11)

2

In [ ]:
a = 2
b = 4
print(a,b)
a,b = b,a
print(a,b)

2 4
4 2

In [ ]:
# format() metodunu görmemiş olabilirler. Eğer öyleyse, bu metodu kullanmadan çıktı aldıralım.

a = 2
b = 5

print("Variables Before Replacing\na= {} b= {}".format(a, b))

a, b = b, a

print("Variables After Replacing\na= {} b= {}".format(a, b))

Variables Before Replacing
a= 2 b= 5
Variables After Replacing
a= 5 b= 2

In [ ]:
x = 6
y = 5
print(x**2-y**2)

11

In [ ]:
# format() metodunu görmemiş olabilirler. Eğer öyleyse, bu metodu kullanmadan çıktı aldıralım.

x, y = 4, 3
result = x * x - y * y
print("({} ^ 2 - {} ^ 2) = {}".format(x, y, result))

(4 ^ 2 - 3 ^ 2) = 7

In [ ]:
print(4*'cat', 'dog', sep = "/")

catcatcatcat/dog

In [ ]:
word = input("Word: ")
seperator = input("Seperator: ")
repetitions = int(input("repetitions: "))
a = (word + seperator) * (repetitions -1) + word # henry/ * 2 = henry/henry/henry
print(a)
# print(*list([word] * repetitions), sep=seperator)

Word: cat
Seperator: /
repetitions: 5
cat/cat/cat/cat/cat

In [ ]:
print(False)

False

In [ ]:
print(True and False and (not True and False) and not (True or False))

False

In [ ]:
print( False)

False

In [ ]:
print(True and False and not "False" and None and ("None" or None))

False

In [ ]:
print( 0 )

In [ ]:
print("clarusway" and 0 and not "" and False and (" " or None))

0

In [ ]:
print({0} and False or [])

[]

In [ ]:
print('hello-' + 'how-are-you')

hello-how-are-you

In [ ]:
5!=5

False

In [ ]:
print('hello', '-how', 'are', '-you')

hello -how are -you

In [ ]:
print('hello', 'how', 'are-', 'you' + '-' * 4)

hello how are- you----

In [ ]:
print('hello-' + 'how-are-you')

hello-how-are-you

In [ ]:
print('hello' + '-' + 'how' + '-' + 'are' + 'you')

hello-how-areyou

In [ ]:
city = 'Phoenix'

print(city[::-3])

xeP

In [ ]:
Celsius = float(input(":"))
Fahrenheit = float(9/5 * Celsius + 32)
print(Fahrenheit)

:54
129.2

In [ ]:
PV = 1000  # Present  Value
r = 7  # interest rate
n = 7  # number of periods
FV = round(PV*(1+0.07)**, 2)  # Future Value
print(FV)

1605.78

In [ ]:
Km = float(input(":"))
Miles = float(Km/1.609)
print(Miles)

:1
0.6215040397762586

In [ ]:
# F = (0°C × 9/5) + 32 = 32°F
Celcian = float(input(""))
Fahrenheit = float(9/5 * Celcian + 32)
print(Fahrenheit)

54
129.2

In [ ]:
# km = mi / 0.62137
Mi = float(input(""))
Km = float(Mi / 0.62137)
print(Km)

1
1.6093470878864444

In [ ]:
website = 'www.youtube.com'
print(website.endswith('.com'))
print(website.startswith('www.'))

True
True

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

In [ ]:
print("Actions speaks louder than words".upper())

ACTIONS SPEAKS LOUDER THAN WORDS

In [ ]:
age = int(input('Please enter a persons age:'))
if age > 75: print(bool('yes'))
else: print(bool(''))

def chronic() :
  return True

if chronic():
  print("YES!")
else:
  print("NO!")

def chronic(yes) :
  return True

if chronic(input(":")):
  print("yes")

Please enter a persons age:33
False
YES!
:dd
yes

In [ ]:
age =  input("Are you a cigarette addict older than 75 years old?:").lower().strip() # can be assigned only True/False
chronic = input("Do you have a severe chronic disease?:").lower().strip()  # can be assigned only True/False
immune =  input("Is your immune system too weak?:").lower().strip()  # can be assigned only True/False
risk = age or chronic or immune 
if age == "yes" or chronic == "yes" or immune == "yes":
  print(True)
else:
  print(False)

Are you a cigarette addict older than 75 years old?:fghfg
Do you have a severe chronic disease?:fghf
Is your immune system too weak?:ere
False

In [ ]:
age =  input("Are you a cigarette addict older than 75 years old?:").lower().strip()  # can be assigned only Yes/No
chronic = input("Do you have a severe chronic disease?:").lower().strip()  # can be assigned only Yes/No
immune =  input("Is your immune system too weak?:").lower().strip()  # can be assigned only Yes/No
risk =  age == "yes" or chronic == "yes" or immune == "yes"
if risk:
  risk_value = True
else:
  risk_value = False
print(risk_value)  # True (there is a risk of death) or False (there is not a risk of death)

Are you a cigarette addict older than 75 years old?:yes
Do you have a severe chronic disease?:yes
Is your immune system too weak?:no
True

In [ ]:
age =  int(input("Are you a cigarette addict older than 75 years old?:")) # can be assigned only 0/1
chronic = int(input("Do you have a severe chronic disease?:"))  # can be assigned only 0/1
immune =  int(input("Is your immune system too weak?:"))  # can be assigned only 0/1
risk = age or chronic or immune 
print(bool(risk))

Are you a cigarette addict older than 75 years old?:0
Do you have a severe chronic disease?:0
Is your immune system too weak?:1
True

In [ ]:
age =  (input("Any input for True or empty for False:")) # can be assigned only True/False
if age == "true":
boolValue = True
elif age == "false":
boolValue = False
else:
  print("ERROR")
  print(boolValue)
chronic = bool(input("Any input for True or empty for False:"))# can be assigned only True/False
immune =  bool(input("Any input for True or empty for False:"))# can be assigned only True/False
risk = age and chronic and immune 
print(risk)

IndentationError: ignored

In [ ]:
# Program checks if the number is positive or negative
# And displays an appropriate message

num = 3

# Try these two variations as well. 
# num = -5
# num = 0

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

In [ ]:
if chronic = yes:
  print(bool("yes"))
elif chronic = no
  print(bool(""))

SyntaxError: ignored

In [ ]:
age = True or False
risk = age
print(risk)
age = True and False
risk = age
print(risk)
chronic = True or False
risk = chronic
print(risk)
immune = True or False
risk =immune
print(risk)
risk = age or chronic or immune
print(risk)

True
False
True
True
True

In [ ]:
def chronic() :
  return True

if chronic():
  print(("YES!"))
  print(("NO!"))

YES!
NO!

In [ ]:
total = 100
#country = "US"
country = "AU"
if country == "US":
    if total <= 50:
        print(("Shipping Cost is  $50"))
elif total <= 100:
        print(("Shipping Cost is $25"))
elif total <= 150:
	    print("Shipping Costs $5")
else:
        print("FREE")
if country == "AU": 
	  if total <= 50:
	    print("Shipping Cost is  $100")
else:
	    print("FREE")

Shipping Cost is $25

In [ ]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
warning = 'You must quit smoking!'

print(len(warning))

22

In [ ]:
warning = ['You must quit smoking!']

print(len(list(warning)))

1

In [ ]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [ ]:
 (print_and_true)
print(bool("print_and_true called"))

True

In [ ]:
age =  True# can be assigned only True/False
chronic = True # can be assigned only True/False
immune =  True# can be assigned only True/False
risk = age and chronic and immune 
print(risk)

age =  False# can be assigned only True/False
chronic = True # can be assigned only True/False
immune =  True# can be assigned only True/False
risk = age and chronic and immune
print(risk)

True
False

In [ ]:
print(chr(ord('b')+1))

c

In [ ]:
print('*', "abcdef".center(7), '*')

*  abcdef *

In [ ]:
print("xyyzxyzxzxyy".count('yy', 1))

2

In [ ]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

False

In [ ]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "3.2f"))

Welcome   # 111#924.66

In [ ]:
leap_year = int(input())
if len(leap_year) == 4 and leap_year.isdigit():
  print(leap_year)

10000

TypeError: ignored

In [ ]:
leap_year = int(input())
if(leap_year % 4 == 0, leap_year % 400 == 0):
  print("{} is divisible by 4".format(leap_year))

400
400 is divisible by 4

In [ ]:
leap_year = int(input())
if (leap_year % 4 == 0, leap_year % 400 == 0):
  print(bool(leap_year))
else: print("False")

300
True

In [ ]:
print(bool(0))

False

In [ ]:
num1=int(input("Enter your number:"))
if(num1%3==0):
    print("{} is divisible by 3".format(num1))
else:
    print("{} is not divisible by 3".format(num1))

Enter your number:1
1 is not divisible by 3

In [ ]:
leap_year = int(input())
if (leap_year%4==0):
  print(bool())

300
False

In [ ]:
leap_year=int(input("Enter your number:"))
if (leap_year%4==0):
    print("{} is divisible by 4".format(num1))
else:
    print("{} is not divisible by 3".format(num1))

Enter your number:4
0 is divisible by 4

In [ ]:
year=int(input("Please enter 4-digit number:"))
if year % 4 == 0:
    if year % 100 == 0 and year % 400 == 0:
      print(bool("year"))
    else:print(bool())
else:
    print(bool())

Please enter 4-digit number:2100
False

In [ ]:
year = int(input("Please enter 4-digit number:"))
if year % 4 == 0:
    if year % 400 == 0:
      print(bool("year"))
    else:print(bool())
else:
    print(bool())

Please enter 4-digit number:2400
True

In [ ]:
year = int(input("Enter a year: "))
if (year%4==0 and year%100==0 and year%400==0):
     print("TRUE")
else:
    print("FALSE")

Enter a year: 2000
TRUE

In [ ]:
year=int(input("Please enter 4-digit number:"))
if year % 4 == 0 or year % 100 == 0 and year % 400 == 0:
      print(bool("year"))
else:
    print(bool())

Please enter 4-digit number:1800
True

In [ ]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

False

In [ ]:
print('abcdefcdghcddsfdgfsdgf'.split('cd'))

['ab', 'ef', 'gh', 'dsfdgfsdgf']

In [ ]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: ignored

In [ ]:
my_list = [4, 5, 2, 1]
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(list_grocer [1][2:5:2])

NameError: ignored

In [ ]:
text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and, two favorite colors are and.".format("flowers"[2])
print(text)

My two favorite flowers are o and, two favorite colors are and.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:


sentence = "{}I have two children.".format("\t")

print(sentence)

	I have two children.

In [ ]:
sentence = "I am 40 years old." "{}I have two children.".format("\n\t") "{}I have two children.".format("\n\t")


print(sentence)

SyntaxError: ignored

In [ ]:
sentence = "I am 40 years old." "{}I have two children.".format("\n\t") 


print(sentence)

I am 40 years old.
	I have two children.

In [ ]:
list_2 = ['@', '*-', "False"]
list_2.sort()
print(list_2)

['*-', '@', 'False']

In [ ]:
month = "{}February".format("\t")

print(month)

	February

In [ ]:
my_list = list(range(1,11))
my_list.sort(reverse=True)
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
my_list = [4, 5, 2, 1]
my_list.sort()
print(my_list)

[1, 2, 4, 5]

In [ ]:
text = "fjsngknlk fjsnkerf idfmdk"
print(text[len(text)-1])

word = ['w' 'o' 'r' 'd']
print(word[len(word) - 1])

word = ['w', 'o' 'r' 'd']
print(word[len(word) - 1])

word = ['w', 'o', 'r', 'd']
print(word[len(word) - 1])

k
word
ord
d

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])

colors = ['red' 'purple' 'blue' 'yellow' 'green']
print(colors[0])

blue
redpurpleblueyellowgreen

In [ ]:
city = ['Barcelona', 'Milan', 'Madrid', 'Berlin']
city_list = []
print(city)
print(city_list)

city_list.append(city)  # Watch out for the order first we write city_list and then add city to it, that's why city is in 2 []
print(city_list)
print(len(city_list))

city_list.append(city)
print(city_list)
print(len(city_list))

city_list.append(555)  # append can take exactly 1 argument, no more
print(city_list)

['Barcelona', 'Milan', 'Madrid', 'Berlin']
[]
[['Barcelona', 'Milan', 'Madrid', 'Berlin']]
1
[['Barcelona', 'Milan', 'Madrid', 'Berlin'], ['Barcelona', 'Milan', 'Madrid', 'Berlin']]
2
[['Barcelona', 'Milan', 'Madrid', 'Berlin'], ['Barcelona', 'Milan', 'Madrid', 'Berlin'], 555]

In [ ]:
city = ['Barcelona', 'Milan', 'Madrid', 'Berlin']
city_list = []
print(city)
print(city_list)

city.append(city_list)  # That's the other way around
print(city)
print(len(city))

['Barcelona', 'Milan', 'Madrid', 'Berlin']
[]
['Barcelona', 'Milan', 'Madrid', 'Berlin', []]
5

In [ ]:
city = ['Barcelona', 'Milan', 'Madrid', 'Berlin']
city.append(city)
print(city)
print(len(city))

['Barcelona', 'Milan', 'Madrid', 'Berlin', [...]]
5

In [ ]:
city_list = []
city_list.append(city_list)
print(city_list)

[[...]]

In [ ]:
city = ['Barcelona', 'Milan', 'Madrid', 'Berlin']
city_list = []
city_list.append(city)
city_list.append(555)



print(city_list)
print(city_list[0])
print(city_list[0][0])
print(city_list[0][0][0])  # Wow this one works as well
print(city_list[0][0][-1])
print(city_list[0][0][len(city)])   # Helpful example!! e because len of city is 4 and e is the 4th element 
print(len(city[1]))  # !!!
print(city_list[0][0][len(city[1])])  # !!!
print(city_list[0][0][len(city[1]) - 1])  # !!!
print(city_list[1])

[['Barcelona', 'Milan', 'Madrid', 'Berlin'], 555]
['Barcelona', 'Milan', 'Madrid', 'Berlin']
Barcelona
B
a
e
5
l
e
555

In [ ]:
city = ['Barcelona', 'Milan', 'Madrid', 'Berlin']
city_list = []
city_list.append(city)
city_list.append(555)



print(city_list)
print(city_list[0])
print(city_list[0][0])
print(city_list[0][0][0])  
print(city_list[0][0][-1])
print(city_list[0][0][len(city)])   
print(city_list[0][0][len(city[1])]) 
print(city_list[0][0][len(city[1]) - 1]) 
print(city_list[1])

In [ ]:
Numbers = [[11, [15, 17], 23, 25, 27]]  # look at the otput and compare with the following code
print(Numbers[::-1])

[[11, [15, 17], 23, 25, 27]]

In [ ]:
Numbers = [11, [15, 17], 23, 25, 27]  # Notice that [15, 17] won't change places in the otput
print(Numbers[::-1])

[27, 25, 23, [15, 17], 11]

In [ ]:
print(len([1, 2, 3]))
#print(len([1, 2, 3][0]))  # check it
print(len([[1, 2, 3]]))
print(len([[1, 2, 3]][0]))

3
1
3

In [ ]:
nums = list(range(11))
print(nums)
print(nums[1:])
print(nums[1:3])
print(nums[::2])  # even numbers
print(nums[1::2])  # odd numbers
print(nums[1:20:2])  # important example in slicing the endpoint doesn't matter
print(nums[::5])  # start from zero and take every 5th element

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[0, 5, 10]

In [ ]:
mix_list = [1, [1,'one', 2, 'two', 3, 'three'], 4]
print(mix_list[1][1::2])
print(mix_list[1][::2])

['one', 'two', 'three']
[1, 2, 3]

In [ ]:
list1 = ['h', 'a', 'p', 'p', 'y']
word = 'happy'
list2 = list(word)

print(list1)
print(list2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [ ]:
word = 'happy'
l1 = [word]
l2 = list(word)
l3 = [1, 2, 3, "anotheritem...", True, "True", False]  # any type works this way

print(l1)
print(l2)
print(l3)

['happy']
['h', 'a', 'p', 'p', 'y']
[1, 2, 3, 'anotheritem...', True, 'True', False]

In [ ]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)
print(country.sort())  # !!!!

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
None

In [ ]:
str1 = "I quit smoking"

new_list1 = list(str1)
print(new_list1)

new_list2 = [str1]
print(new_list2)

new_list2 = ["fsgfa", "dafjasioj", str1]  # str1 from 1st line, notice that we don't put it into quotation marks
print(new_list2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']
['fsgfa', 'dafjasioj', 'I quit smoking']

In [ ]:
var1 = 123
var2 = "a string"
var3 = True
var4 = 11.22

mixed_list = [11, "Joseph", False, 3.14, None, [1, 2, 3, ["list3", 22]], var1, var2, var3, var4]  # [1, 2, 3] is a nested list

print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3, ['list3', 22]], 123, 'a string', True, 11.22]

In [ ]:
name ='Michael'  # spot the difference between this and following code
print(list(name))
name =['Michael']  # this one and the next one are the 2 different ways to write the same output
print(list(name))
name = 'Michael'
list1 = [name]
print(list1, "\n\n")

my_list = ["Joseph", "Clarusway", 2020]
new_list1 = list(my_list)
new_list2 = [my_list]

print(my_list)
print(new_list1)
print(len(new_list1))
print(new_list2)
print(len(new_list2), type(new_list1))

['M', 'i', 'c', 'h', 'a', 'e', 'l']
['Michael']
['Michael']


['Joseph', 'Clarusway', 2020]
['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1 <class 'list'>

In [ ]:
my_list1 = ["2020's hard"]  # !!!!
my_list2 = list("2020's hard")  # !!!!

print(my_list1, "\t\ttotal item number:", len(my_list1))
print(my_list2)

["2020's hard"] 		total item number: 1
['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [ ]:
numbers = [1, 4, 7]
numbers.append(9)
numbers.append("9")
numbers.append(True)
numbers.append(2.44)
numbers.append("a string")
#numbers.append(1, 3)   # append takes only one argument
numbers.append(["ff", "ee", 22, False])  # but this way it works cause it in the list

print(numbers)

[1, 4, 7, 9, '9', True, 2.44, 'a string', ['ff', 'ee', 22, False]]

In [ ]:
numbers = []
mylist = list(range(1, 4, 1))
print(mylist)

mylist = list(range(1, 4, 1))
print(mylist)

[1, 2, 3]
[1, 2, 3]

In [ ]:
city = ['Los Angeles', 'Beirut', 'Tokyo']
city[2] = 'Istanbul'  # !!!!!!!!!!!!!!!!!!!!!!!  see difference with that one and .insert function
city[2] = 'Barcelona'  # !!!!!!!!!!!!!!


print(city)

city = ['Los Angeles', 'Beirut', 'Tokyo']
city[1:] = 'Seoul'

print(city)

city = ['Los Angeles', 'Beirut', 'Tokyo']
city[0:] = 'Seoul'

print(city)

city = ['Los Angeles', 'Beirut', 'Tokyo']
city[2:] = 'Seoul'

print(city)

['Los Angeles', 'Beirut', 'Barcelona']
['Los Angeles', 'S', 'e', 'o', 'u', 'l']
['S', 'e', 'o', 'u', 'l']
['Los Angeles', 'Beirut', 'S', 'e', 'o', 'u', 'l']

In [ ]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)
numbers.insert(0, 'www')
print(numbers)
numbers.insert(55, True)  # doesnt matter if u provide higher than the endpoint number, it will put the item into the end of the list
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]
['www', 1, 4, 6, 9, 7]
['www', 1, 4, 6, 9, 7, True]

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
k = str(input("Please input a key(lesson): "))
v = int(input("Please input a value(grades): "))
class_list = {k:v} 
print(class_list)

TypeError: ignored

In [ ]:
mountain = tuple('Alps')
#mountain = tuple('Alps', 'Rocks')  # tuple expects  1 argument at most
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
my_list = ['a', 'b', 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)


my_list = ['a', 'b', 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(my_tuple, type(my_tuple))

club = tuple('Barcelona')
print(club)
club = list('Barcelona')
print(club)

<class 'tuple'> ('a', 'b', 3, 4, 5, 6, 7, 4)
('a', 'b', 3, 4, 5, 6, 7, 4) <class 'tuple'>
('B', 'a', 'r', 'c', 'e', 'l', 'o', 'n', 'a')
['B', 'a', 'r', 'c', 'e', 'l', 'o', 'n', 'a']

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))
print(mix_value_tuple)

4
(0, 'bird', 3.14, True)

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
#city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

#city_tuple = tuple(city_list)

#city_tuple[0] = 'New York'  # you can't assign a value

In [ ]:
mix_value = (10, False, 'fruit', 1.618)
#mix_value.append(['vegetable', 2+3j])  # 'tuple' object has no attribute 'append'

#print(len(mix_value))

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [ ]:
print("clarusway" + str(2020))

clarusway2020

In [ ]:
x = 12
y = x + 21
x = 2
print(y//x)

16

In [ ]:
number = "32"
print(1988 + int(number))

print("1" + str("1"))

2020
11

In [ ]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [ ]:
print(not None or  1 )

True

In [ ]:
section_3_5 = "python data types and useful operations"
print(str.title(section_3_5))

Python Data Types And Useful Operations

In [ ]:
print("{0} {1} {2} {3} {4}".format('I', 'will', 'find', 'a', 'job.'))

I will find a job.

In [ ]:
city = ['New York', 'London', ['Istanbul', 555, 11.55, "testwwww"], 'Seoul', 'Sydney', 111, 222]
print(city[:-4])
print(city[-5][-2])

print(city[1])
print(city[-5])
print(city)
print(city[::-1])

['New York', 'London', ['Istanbul', 555, 11.55, 'testwwww']]
11.55
London
['Istanbul', 555, 11.55, 'testwwww']
['New York', 'London', ['Istanbul', 555, 11.55, 'testwwww'], 'Seoul', 'Sydney', 111, 222]
[222, 111, 'Sydney', 'Seoul', ['Istanbul', 555, 11.55, 'testwwww'], 'London', 'New York']

In [ ]:
print(tuple(range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print( {0} and False or [])

[]

In [ ]:
print(float("140" * int(input("Enter a number:" ))))

Enter a number:2
140140.0

In [ ]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
text = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(text)

The less you sleep and eat, the better your life will be.

In [ ]:
city = "SARAJEVO"
text = f"{city.capitalize()}"  # 2 methods of the same output
print(text)

city = "SARAJEVO"
text = f"{str.capitalize(city)}"
print(text)

Sarajevo
Sarajevo

In [ ]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [ ]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [ ]:
print("spam " + "eggs")
print('2' + '2')

spam eggs
22

In [ ]:
x = '2'
y = '4'
z = int(x) + int(y)
print(z)

6

In [ ]:
x = 'a'
x *= 3
print(x)

aaa

In [ ]:
name = input()
print("Welcome " + name)

Javid
Welcome Javid

In [ ]:
bill = int(input())
bill *= 0.2
print(bill)

10
2.0

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 111, 222]
print(city[-6])
print(city[1])

print(city)
print(city[::-1])

London
London
['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 111, 222]
[222, 111, 'Sydney', 'Seoul', 'Istanbul', 'London', 'New York']

In [ ]:
city = ['New York', 'London', ['Istanbul', 555], 'Seoul', 'Sydney', 111, 222]
print(city[2][0])  # string with one element and no brackets
print(city[-5][0])
print(city[-5])  # list with more than on elements with squared brackets

Istanbul
Istanbul
['Istanbul', 555]

In [ ]:
city = ['New York', 'London', ['Istanbul', 555, 11.55, 'testwwww'], 'Seoul', 'Sydney', 111, 222]
print(city[2][2])
print(city[-5][2])
print(city[-5], '\n')


#print(len(city[6]))  # integers have no length
print(len(city[3]))
print(len(city[2]))
print(len(city[2][3]),'\n')  # !!!!


print(city[-5])
print(len(city[2]))
print(len(city[2]) - 1)
print(city[-5][len(city[2]) -1])  # !!!!!!!!
print(city[2][len(city[2]) - 1], '\n')  # !!!!!!!!


print(city[2][-2])
print(city[-5][-2])
print(city[-5], '\n')


print(city[::-1])
print(city[::-2], '\n')


print(city[6:1:-1])
print(city[1:6:-1])  # !!!!!

11.55
11.55
['Istanbul', 555, 11.55, 'testwwww']

5
4
8

['Istanbul', 555, 11.55, 'testwwww']
4
3
testwwww
testwwww

11.55
11.55
['Istanbul', 555, 11.55, 'testwwww']

[222, 111, 'Sydney', 'Seoul', ['Istanbul', 555, 11.55, 'testwwww'], 'London', 'New York']
[222, 'Sydney', ['Istanbul', 555, 11.55, 'testwwww'], 'New York']

[222, 111, 'Sydney', 'Seoul', ['Istanbul', 555, 11.55, 'testwwww']]
[]

In [ ]:
tuple_1 = ('h', 'a','p', 'p', 'y')
word = 'happy'
tuple_2 = tuple(word)
l1 = list(word)

print("here is our first tupple: ", tuple_1)
print(tuple_2)
print(l1)

here is our first tupple:  ('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')
['h', 'a', 'p', 'p', 'y']

In [ ]:
empty_tuple = ()
print(type(empty_tuple))
empty_list = []
print(type(empty_list))

<class 'tuple'>
<class 'list'>

In [ ]:
str1 = 'this is a string'

list1 = list(str1)
tuple1 = tuple(str1)


print(list1)
print(tuple1)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']
('t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g')

In [ ]:
print(tuple(range(11)))
print(tuple(range(1, 11)))

mytuple = tuple(range(1,11))
print(mytuple)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
a = fruits[0], quantities[0], prices[0]
b = fruits[1], quantities[1], prices[1]
c = fruits[2], quantities[2], prices[2]



my_list1 = tuple(a) + tuple(b) + tuple(c)
my_list2 = 
output.append(my_list)

print(output)

#print(list(my_list))

print(tuple(a), tuple(b), tuple(c), sep="\n")

[('Apples', 5, 1.5, 'Oranges', 3, 2.25, 'Bananas', 4, 0.89)]
('Apples', 5, 1.5)
('Oranges', 3, 2.25)
('Bananas', 4, 0.89)

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
fruit_tuple_0 = (fruits[0], quantities[0], prices[0])
output.append(output)
fruit_tuple_1 = (fruits[1], quantities[1], prices[1])
output.append(output)
fruit_tuple_2 = (fruits[2], quantities[2], prices[2])
output.append(output)
print(fruit_tuple_0, fruit_tuple_1, fruit_tuple_2)

('Apples', 5, 1.5) ('Oranges', 3, 2.25) ('Bananas', 4, 0.89)

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 for qty in quantities:
  for price in prices:
   output.append((fruit, qty, price))
 i += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 5, 1.5), ('Bananas', 5, 1.5)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
a = fruits[0], quantities[0], prices[0]
b = fruits[1], quantities[1], prices[1]
c = fruits[2], quantities[2], prices[2]
my_list = tuple(a), tuple(b), tuple(c)
output.append(my_list)

print(my_list)

(('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89))

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
fruit1 = input("enter fruit 1 : "), input("dfsdfs")
fruit2 = str(input("enter fruit 2 : "))
fruit3 = str(input("enter fruit 3 : "))
dict1 = fruit1
dict1.update({"fruit")
print(dict1)\

In [ ]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [ ]:
k = input("Please input a key: ") 
v = input("Plesse input a value: ") 
classe_list = {k:v} 
print(classe_list)

TypeError: ignored

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages['Clark'])

32

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print(customers['insurance'][5]['age'])

22

In [ ]:
grocer1 = {'fruit': 'apple', 'drink':'water'}
grocer2 = dict(fruit ='apple', drink ='water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
family = {'papi', 'mami', 'me'}
print(family)

{'me', 'mami', 'papi'}

In [ ]:
myfriends = {
    'name1' : 'Michael',
    'name2' : 'Sait',
    'name3' : 'Burhan',
    'name4' : 'Tam',
    'name5' : 'Javid'
}

print(myfriends)

myfriends["name6"] = 'Sofia'

print(myfriends)

{'name1': 'Michael', 'name2': 'Sait', 'name3': 'Burhan', 'name4': 'Tam', 'name5': 'Javid'}
{'name1': 'Michael', 'name2': 'Sait', 'name3': 'Burhan', 'name4': 'Tam', 'name5': 'Javid', 'name6': 'Sofia'}

In [ ]:
mix_dic = dict(animal = 'dog', planet = 'neptun', number = 40, pi =4.14159, is_good = True)
#mix_dic = dict("22" = 'dog', planet = 'neptun', number = 40, pi =4.14159, is_good = True)
#mix_dic = dict("22" = 'dog', planet = 'neptun', number = 40, pi =4.14159, is_good = True)
print(mix_dic)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 4.14159, 'is_good': True}

In [ ]:
# grocer1 = {'fruit':'apple', 'drink':'water', "meal":"dolma", 'fruit':'peaches'}
# grocer2 = dict(fruit='apple', drink='water', meal="kofte")
# print(grocer1)
# grocer1["a new element"] = "whatever you want"
# grocer1["fruit"] = "orange"
# print(grocer1)
# print(grocer2)
# print(grocer2['fruit'])
# print(grocer1['drink'])
# myfriends = {
#     "name1" : "Michael",
#     'name2' : "Sait",
#     'name3' : 'Burhan',
#     "name4" : 'Tam',
#     "name5" : "Javid"
# }
# print(myfriends)
# myfriends["name6"] = 'Sofia'
# print(myfriends)
# mix_dic = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14159, is_good = True)
# print(mix_dic)
# myfriends = dict(name1 = "Michael", name2 = "Sait", name3 = 'Burhan', name4 = 'Tam', name5 = "Javid" )
# print(myfriends)
# mix_dic = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14159, is_good = True)
# # print(mix_dic)
# # print(mix_dic.items())
# # print(mix_dic.keys())
# print(mix_dic.values())
# myfriends = dict(name1 = "Michael", name2 = "Sait", name3 = 'Burhan', name4 = 'Tam' )
# print(myfriends)
# myfriends.update({"name5" : "Tuğçe"})
# print(myfriends)
# del myfriends["name5"]
# print(myfriends)
school_records = {
    "personal_info": {        "kid" : {   "tom": { "class": "intermediate", "age": 10 },"sue": { "class": "elementary","age": 8 }},"teen" : {   "joseph": { "class": "college", "age": 19 },"marry": { "class": "high school", "age": 16}
        },     },    "grades_info": {
               "kid" : {   "tom": { "math": 88, "speech": 69 },
                            "sue": { "math": 90, "speech": 81 }
        },
        "teen" : {"joseph":{"coding":80,"math":89},"maryy":{"coding":70,"math":96}},}}
print(school_records['grades_info']['teen']['joseph']['coding'])

80

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
"I am 40 years old.\n\tI have two children.\n\t\tData Science is my IT domain."
sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
count = numbers.count(3)
print(count)
#n = len(numbers)
#print(mostFrequent(numbers, n))

4

In [ ]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [ ]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)
print(type(colorset))

{'red', 'darkblue', 'orange', 'yellow', 'purple'}
{'red', 'darkblue', 'orange', 'yellow', 'purple'}
<class 'set'>

In [ ]:
s = set('unselfishness')

print(s)

{'h', 's', 'n', 'f', 'u', 'i', 'l', 'e'}

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'carnation', 'orchid', 'rose', 'violet'}
['carnation', 'orchid', 'rose', 'violet']

In [ ]:
#set2 = set([[1,2],[3,4],[4,5]])
set1 = set([1,2,2,3,4,5])
print(set1)
#print(set2)

{1, 2, 3, 4, 5}

In [ ]:
a = set('abracadabra')

print(a)

{'r', 'a', 'c', 'd', 'b'}

In [ ]:
strs = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat', 'cat', 'tac']     
anag = {}
for i in strs:
    x = "".join(sorted(i))
    if x in anag:
      anag[x].append(i)
    else:
      anag[x] = [i]
print(list(anag.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]